In [2]:
import pandas as pd
df=pd.read_csv('/content/student-mat.csv',delimiter=';')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [3]:
df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [4]:
df.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['school']=le.fit_transform(df['school'])
df['sex']=le.fit_transform(df['sex'])
df['address']=le.fit_transform(df['address'])
df['famsize']=le.fit_transform(df['famsize'])
df['Pstatus']=le.fit_transform(df['Pstatus'])
df['romantic']=le.fit_transform(df['romantic'])
df['internet']=le.fit_transform(df['internet'])
df['higher']=le.fit_transform(df['higher'])
df['nursery']=le.fit_transform(df['nursery'])
df['activities']=le.fit_transform(df['activities'])
df['paid']=le.fit_transform(df['paid'])
df['famsup']=le.fit_transform(df['famsup'])
df['schoolsup']=le.fit_transform(df['schoolsup'])
df['guardian']=le.fit_transform(df['guardian'])
df['reason']=le.fit_transform(df['reason'])
df['Fjob']=le.fit_transform(df['Fjob'])
df['Mjob']=le.fit_transform(df['Mjob'])

In [6]:
corr=df.corr()
print(corr*100)

                school         sex         age     address     famsize  \
school      100.000000   -1.228554   37.760970  -27.979688    6.486575
sex          -1.228554  100.000000   -2.860579   -2.850421    8.986180
age          37.760970   -2.860579  100.000000  -14.672235    3.784748
address     -27.979688   -2.850421  -14.672235  100.000000    7.247214
famsize       6.486575    8.986180    3.784748    7.247214  100.000000
Pstatus       4.592327    2.344278    2.959777   -4.257194  -14.961158
Medu        -13.333295    7.822789  -16.365842   13.880408   -4.306778
Fedu         -7.980729    3.487831  -16.343807    7.217845   -5.887913
Mjob         -5.667018   19.142075   -6.910360   10.881758    7.138650
Fjob          1.897415    8.495744   -3.519130   -0.191092   -8.444759
reason       -9.000972   -9.586725   -1.533690   -4.789100   -1.921210
guardian      1.110861   -7.134327   29.048525   -4.451188   -0.271811
traveltime   24.230839    5.972178    7.064072  -32.809550    6.349338
studytime    -9.068091  -30.626762   -0.414004   -2.091215   -7.359486
failures      5.980425    4.443588   24.366538   -7.857751   -1.576917
schoolsup   -13.978870  -13.827095  -25.181089    2.471197   -2.864177
famsup      -16.496699  -15.162262  -14.060858    2.390330  -11.289307
paid         -1.708330  -12.912562   -3.593287    5.279967   -1.388216
activities  -11.694558    9.983318  -10.306262   -5.136014   -0.011318
nursery      -8.927659   -0.820276   -8.663192    5.958860   10.208845
higher       -2.415036  -15.105552  -20.908081    4.285373   -0.580639
internet    -13.357799    4.411290  -11.209351   21.684244    0.072041
romantic      6.070014  -10.202301   16.466875    0.525715    3.439482
famrel       -4.792574    5.897094    5.394010    1.425838   -2.277644
freetime      3.298753   23.874425    1.643439    3.487816    1.769526
goout        -0.715222    7.589740   12.696388    6.883481    2.306438
Dalc         11.420918   26.817098   13.112460   -9.349426   10.152126
Walc          6.508707   27.419377   11.727605  -10.112569   10.342501
health       -4.265111   14.358817   -6.218737   -4.035487   -2.899166
absences     -8.848010   -6.696176   17.523008   -2.787425    3.578252
G1           -2.573091    9.183916   -6.408150    6.970425    7.144540
G2           -5.008558    9.109944  -14.347405   12.603733    8.122254
G3           -4.501694   10.345565  -16.157944   10.575606    8.140711

               Pstatus        Medu        Fedu        Mjob        Fjob  ...  \
school        4.592327  -13.333295   -7.980729   -5.667018    1.897415  ...
sex           2.344278    7.822789    3.487831   19.142075    8.495744  ...
age           2.959777  -16.365842  -16.343807   -6.910360   -3.519130  ...
address      -4.257194   13.880408    7.217845   10.881758   -0.191092  ...
famsize     -14.961158   -4.306778   -5.887913    7.138650   -8.444759  ...
Pstatus     100.000000  -12.356462   -8.872968   -5.447558    3.389249  ...
Medu        -12.356462  100.000000   62.345511   45.480549   15.792039  ...
Fedu         -8.872968   62.345511  100.000000   24.332713   20.016881  ...
Mjob         -5.447558   45.480549   24.332713  100.000000   19.675838  ...
Fjob          3.389249   15.792039   20.016881   19.675838  100.000000  ...
reason       -0.355253   11.765274    4.309881    2.202233   -2.768840  ...
guardian    -10.871546   -2.391818  -13.364368    1.478685   -8.051129  ...
traveltime    2.826521  -17.163930  -15.819405  -10.975237    5.587810  ...
studytime     2.429390    6.494414   -0.917464   -2.309735   -7.681665  ...
failures     -0.333866  -23.667996  -25.040844   -7.337703   -0.827484  ...
schoolsup    -4.223787   -3.602948    3.752965   -4.095786   -1.165712  ...
famsup        1.906669   18.372702   18.549611    5.066664   -3.015944  ...
paid          4.643523   15.970038    8.698142    9.656612   -4.043461  ...
activities    9.735227   10.827676   11.264279    9.875353    3.239129  ...
nursery      -9.061454   19.326252   15.717725    9.584805   -3.081187  ...
higher       -4.073472   16.884453   17.456552    9.788679   -4.525021  ...
internet      7.007400   20.146345   12.750661   21.696950    3.577720  ...
romantic     -4.045083    3.968061    1.560250   -6.299858   -0.058292  ...
famrel        2.517865   -0.391446   -0.136973    3.858367    1.370901  ...
freetime      3.871683    3.089087   -1.284553   11.432065   -4.747464  ...
goout         0.345865    6.409444    4.310467    0.316921    1.033975  ...
Dalc         -3.058989    1.983410    0.238643    7.607558    7.789695  ...
Walc          0.604478   -4.712346   -1.263102   -1.205143    7.002368  ...
health        2.230733   -4.687783    1.474154    6.522038   -1.805755  ...
absences    -13.493690   10.028482    2.447289    5.025366    0.819573  ...
G1           -1.686832   20.534100   19.026994    8.167383    5.766050  ...
G2           -4.138210   21.552717   16.489339    9.738979    6.700625  ...
G3           -5.800898   21.714750   15.245694   10.208180    4.228587  ...

                famrel    freetime       goout        Dalc        Walc  \
school       -4.792574    3.298753   -0.715222   11.420918    6.508707
sex           5.897094   23.874425    7.589740   26.817098   27.419377
age           5.394010    1.643439   12.696388   13.112460   11.727605
address       1.425838    3.487816    6.883481   -9.349426  -10.112569
famsize      -2.277644    1.769526    2.306438   10.152126   10.342501
Pstatus       2.517865    3.871683    0.345865   -3.058989    0.604478
Medu         -0.391446    3.089087    6.409444    1.983410   -4.712346
Fedu         -0.136973   -1.284553    4.310467    0.238643   -1.263102
Mjob          3.858367   11.432065    0.316921    7.607558   -1.205143
Fjob          1.370901   -4.747464    1.033975    7.789695    7.002368
reason       -1.493425   -6.683392   -5.093668   -4.853933   -4.469941
guardian      4.097869    4.571551    5.655719   -0.584690   -4.081050
traveltime   -1.680799   -1.702494    2.853967   13.832531   13.411575
studytime     3.973070  -14.319841   -6.390368  -19.601926  -25.378473
failures     -4.433663    9.198747   12.456092   13.604693   14.196203
schoolsup    -0.134463   -4.546543   -3.769849   -2.148510   -8.715174
famsup       -2.043619    1.053759   -1.563144   -3.157520   -8.668793
paid          0.045965   -6.425287    1.049327    6.246536    6.045364
activities    4.068660    8.972816    4.608769   -6.650809   -3.747670
nursery      -0.358072   -2.469632    0.461153   -8.484864   -9.953353
higher        2.431934   -6.124399   -3.970050   -6.982806  -10.033961
internet      3.276756    5.128645    7.436962    3.621038    1.168720
romantic     -6.381616   -1.118217    0.786993    1.512071   -1.014095
famrel      100.000000   15.070144    6.456841   -7.759436  -11.339731
freetime     15.070144  100.000000   28.501871   20.900085   14.782181
goout         6.456841   28.501871  100.000000   26.699385   42.038575
Dalc         -7.759436   20.900085   26.699385  100.000000   64.754423
Walc        -11.339731   14.782181   42.038575   64.754423  100.000000
health        9.405573    7.573336   -0.957725    7.717958    9.247632
absences     -4.435409   -5.807792    4.430222   11.190803   13.629110
G1            2.216832    1.261293  -14.910397   -9.415879  -12.617921
G2           -1.828135   -1.377714  -16.225003   -6.412018   -8.492735
G3            5.136343    1.130724  -13.279147   -5.466004   -5.193932

                health    absences          G1          G2          G3
school       -4.265111   -8.848010   -2.573091   -5.008558   -4.501694
sex          14.358817   -6.696176    9.183916    9.109944   10.345565
age          -6.218737   17.523008   -6.408150  -14.347405  -16.157944
address      -4.035487   -2.787425    6.970425   12.603733   10.575606
famsize      -2.899166    3.578252    7.144540    8.122254    8.140711
Pstatus       2.230733  -13.493690   -1.686832   -4.138210   -5.800898
Medu         -4.687783   10.028482   20.534100   21.552717   21.714750
Fedu          1.474154    2.447289   19.026994   16.489339   15.245694
Mjob          6.522038    5.025366    8.167383    9.738979   10.208180
Fjob         -1.805755    0.819573    5.766050    6.700625    4.228587
reason      -15.713220   11.690932    9.949146   11.777523   12.199411
guardian     -6.749693   16.375169   -4.172669   -8.749549   -7.010910
traveltime    0.750061   -1.294378   -9.303999  -15.319796  -11.714205
studytime    -7.561586   -6.270018   16.061192   13.588000    9.781969
failures      6.582728    6.372583  -35.471761  -35.589563  -36.041494
schoolsup    -3.412369    2.252589  -21.260651  -11.738502   -8.278821
famsup        2.929745    2.435325   -8.456875   -5.916581   -3.915715
paid         -7.813240    0.743517    3.907932   10.519841   10.199624
activities    2.392281   -1.360969    5.700969    5.055171    1.609970
nursery      -1.847472    1.915536    6.926306    6.814563    5.156790
higher       -1.589498   -5.608523   17.826403   17.912922   18.246462
internet     -8.018920   10.170077    7.161885   11.943871    9.848337
romantic      2.634232   15.338449   -3.718833  -11.177421  -12.996995
famrel        9.405573   -4.435409    2.216832   -1.828135    5.136343
freetime      7.573336   -5.807792    1.261293   -1.377714    1.130724
goout        -0.957725    4.430222  -14.910397  -16.225003  -13.279147
Dalc          7.717958   11.190803   -9.415879   -6.412018   -5.466004
Walc          9.247632   13.629110  -12.617921   -8.492735   -5.193932
health      100.000000   -2.993671   -7.317207   -9.771987   -6.133460
absences     -2.993671  100.000000   -3.100290   -3.177670    3.424732
G1           -7.317207   -3.100290  100.000000   85.211807   80.146793
G2           -9.771987   -3.177670   85.211807  100.000000   90.486799
G3           -6.133460    3.424732   80.146793   90.486799  100.000000

[33 rows x 33 columns]

In [7]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [8]:
df.drop(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Medu','Fjob', 'reason', 'guardian', 'traveltime', 'studytime','failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery','higher', 'internet', 'romantic', 'famrel', 'Dalc'],axis=1,inplace=True)

In [9]:
# df.drop(['address','famsize','Pstatus','romantic','internet','Medu','Fedu','Mjob','Fjob','reason','guardian','famrel','Dalc','Walc'],axis=1,inplace=True)

In [10]:
df.corr

<bound method DataFrame.corr of      age  Fedu  Mjob  freetime  goout  Walc  health  absences  G1  G2  G3
0     18     4     0         3      4     1       3         6   5   6   6
1     17     1     0         3      3     1       3         4   5   5   6
2     15     1     0         3      2     3       3        10   7   8  10
3     15     2     1         2      2     1       5         2  15  14  15
4     16     3     2         3      2     2       5         4   6  10  10
..   ...   ...   ...       ...    ...   ...     ...       ...  ..  ..  ..
390   20     2     3         5      4     5       4        11   9   9   9
391   17     1     3         4      5     4       2         3  14  16  16
392   21     1     2         5      3     3       3         3  10   8   7
393   18     2     3         4      1     4       5         0  11  12  10
394   19     1     2         2      3     3       5         5   8   9   9

[395 rows x 11 columns]>

In [11]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error,root_mean_squared_error

In [12]:

scaler=MinMaxScaler()
X=scaler.fit_transform(X)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

knn=KNeighborsRegressor()
dt=DecisionTreeRegressor()
rf=RandomForestRegressor()
ada=AdaBoostRegressor()
gb=GradientBoostingRegressor()
xgb=XGBRegressor()
lr=LinearRegression()
svc=SVR()


models=[knn,dt,rf,ada,gb,xgb,lr,svc]
for model in models:
  print('-'*35,model,'-'*35)
  model.fit(X_train,y_train)
  y_pred=model.predict(X_test)
  print('R2_score:',r2_score(y_test,y_pred))
  print('MSE',mean_squared_error(y_test,y_pred))
  print('MAE',mean_absolute_error(y_test,y_pred))
  print('RMSE',root_mean_squared_error(y_test,y_pred))

----------------------------------- KNeighborsRegressor() -----------------------------------
R2_score: 0.14359753513666207
MSE 13.700504201680673
MAE 2.747899159663866
RMSE 3.7014192145284857
----------------------------------- DecisionTreeRegressor() -----------------------------------
R2_score: 0.7667737834592838
MSE 3.73109243697479
MAE 1.1260504201680672
RMSE 1.931603592089948
----------------------------------- RandomForestRegressor() -----------------------------------
R2_score: 0.8530901758598771
MSE 2.3502252100840333
MAE 1.0218487394957985
RMSE 1.533044425345865
----------------------------------- AdaBoostRegressor() -----------------------------------
R2_score: 0.8442043389387195
MSE 2.4923785212532117
MAE 1.1467001894713877
RMSE 1.5787268672107952
----------------------------------- GradientBoostingRegressor() -----------------------------------
R2_score: 0.8473902281687944
MSE 2.4414114928132653
MAE 1.0951316912209037
RMSE 1.5625016776993441
----------------------------------- XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...) -----------------------------------
R2_score: 0.7847697138786316
MSE 3.443198841204574
MAE 1.1098528956415272
RMSE 1.8555858485137717
----------------------------------- LinearRegression() -----------------------------------
R2_score: 0.7592770617543495
MSE 3.8510230437061397
MAE 1.3532884524180502
RMSE 1.9624023653945537
----------------------------------- SVR() -----------------------------------
R2_score: 0.48531338669082824
MSE 8.23382276149375
MAE 1.881426841279528
RMSE 2.86946384565022